/* ETIQUETA DE HTML VA SOLO EL NOMBRE */
/* LAS CLASES VA CON "." ADELANTE */
/* ID VA CON "#" ADELANTE */

/* NAVBAR STYLES */
.bgcolor{
    background-color: rgb(0, 0, 0);
}

.list-group{
    --bs-list-group-bg:transparent;
    --bs-list-group-border-color:transparent;
}

.fa-brands.fa-instagram.fa-2x:hover{
    color: rgb(189, 51, 143) !important;
}

.fa-brands.fa-linkedin-in.fa-2x:hover{
    color: rgb(127, 187, 255) !important;
}

.fa-brands.fa-github.fa-2x:hover{
    color: rgb(209, 117, 81) !important;
}

.container-fluid ul li:hover{
    transform: translateY(-4px) scale(1.10);
}

/* FONDO y BANNER */
body{
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

section.banner{ 
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.9)), url(../img/banner.png);
    width: 1950px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;  
}

/* SOBRE MI */

.foto-perfil{
    margin-top: 10%;
    margin-left: -80%;
}

.sobremi{
    margin-top: 10%;
}

#mi{
    text-align: center;
    margin: auto;
}
